@model PaginatedList<Demo_T2.Models.User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User</h1>

<p>
    <a asp-action="AddUser">Create New User</a>
</p>
<p style="color:red">@ViewBag.Error</p>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Password </th>
            <th>FullName </th>
            <th>PhoneNumber </th>
            <th>Address </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
                <td>
                    @item.UserDetail.FirstName @item.UserDetail.LastName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.Address)
                </td>

            <td>
                @Html.ActionLink("Edit", "EditUser", new { id =item.Id}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"

   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>