@model IEnumerable<Demo_T2.Models.User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User</h1>

<p>
    <a asp-action="AddUser">Create New User</a>
</p>
<p style="color:red">@ViewBag.Error</p>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Password </th>
            <th>FullName </th>
            <th>PhoneNumber </th>
            <th>Address </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
                <td>
                    @item.UserDetail.FirstName @item.UserDetail.LastName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.Address)
                </td>

            <td>
                @Html.ActionLink("Edit", "EditUser", new { id =item.Id}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
<div id="pagingDiv">@Html.Raw(ViewBag.Paging)</div>
<style>
    #pagingDiv a, #pagingDiv span {
        display: inline-block;
        padding: 0px 9px;
        margin-right: 4px;
        border-radius: 3px;
        border: solid 1px #c0c0c0;
        background: #e9e9e9;
        box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
        font-size: .875em;
        font-weight: bold;
        text-decoration: none;
        color: #717171;
        text-shadow: 0px 1px 0px rgba(255,255,255, 1);
    }

        #pagingDiv a:hover {
            background: #fefefe;
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
            background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
        }

        #pagingDiv a.active {
            border: none;
            background: #616161;
            box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
            color: #f0f0f0;
            text-shadow: 0px 0px 3px rgba(0,0,0, .5);
        }

    #pagingDiv span {
        color: #f0f0f0;
        background: #616161;
    }
</style>